.swing div {
    border-radius: 50%;
    float: left;
    height: 1.25rem;
    width: 1.25rem;
    background: #3b73ab;
}

@-webkit-keyframes ball-l {
    0%,
    50% {
        -webkit-transform: rotate(0) translateX(0);
        transform: rotate(0) translateX(0);
    }

    100% {
        -webkit-transform: rotate(50deg) translateX(-2.5em);
        transform: rotate(50deg) translateX(-2.5em);
    }
}

@keyframes ball-l {
    0%,
    50% {
        -webkit-transform: rotate(0) translate(0);
        transform: rotate(0) translateX(0);
    }

    100% {
        -webkit-transform: rotate(50deg) translateX(-2.5em);
        transform: rotate(50deg) translateX(-2.5em);
    }
}

@-webkit-keyframes ball-r {
    0% {
        -webkit-transform: rotate(-50deg) translateX(2.5em);
        transform: rotate(-50deg) translateX(2.5em);
    }

    50%,
    100% {
        -webkit-transform: rotate(0) translateX(0);
        transform: rotate(0) translateX(0);
    }
}

@keyframes ball-r {
    0% {
        -webkit-transform: rotate(-50deg) translateX(2.5em);
        transform: rotate(-50deg) translateX(2.5em);
    }

    50%,
    100% {
        -webkit-transform: rotate(0) translateX(0);
        transform: rotate(0) translateX(0);
    }
}

.swing-l {
    -webkit-animation: ball-l 0.425s ease-in-out infinite alternate;
    animation: ball-l 0.425s ease-in-out infinite alternate;
}

.swing-r {
    -webkit-animation: ball-r 0.425s ease-in-out infinite alternate;
    animation: ball-r 0.425s ease-in-out infinite alternate;
}
