* {
    box-sizing: border-box;
}
.App {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .tasks {
        display: flex;
        justify-content: space-between;
    }
}
.tasks__column {
    margin: 0 1rem;
    flex: 1;
}
.tasks__list {
    display: flex;
    flex-direction: column;
    min-height: 110px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #eee;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
.task__item {
    border: 1px solid #ddd;
    background-color: white;
    padding: 0.5rem;
    margin: 0.3rem 0;
}

.add_box {
    display: flex;
    margin-top: 1rem;
    padding: 0 1rem;
    border: none;
    background-color: #eee;
}

input {
    flex: 1;
    border-radius: 5px;
    padding: 1rem;
    border: none;
    background-color: #eee;
    margin-right: 1rem;
}

input:focus-visible {
    outline: none !important;
}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(140, 173, 215);
    align-self: center;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    opacity: 0.2;
    cursor: default;
}